body {
    background: #2ecc71;
    margin:10px;
    color:yellow;
    font-family:Verdana, sans-serif;
    border-style: solid;
    margin:50px;
    text-align:center;

}

h1  {
    font-size: 40px;
    margin:10px;
    color:black;
   }
   h2{
    font-size: 40px;
    margin:10px;
    color:brown;

   }
p {  
    text-align:justify;
    font-size:bold;
    font-size:20px;
    margin:10px;
    padding:20px;
    font-style:italic;
    
    
    
    }